/*
* Author: Ozair Ashfaq
* Date: 13/12/2020
* navigation.css
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-primary: #ececec;
    --theme-primary: #86C232;
    --theme-secondary: #61892F;
    --bg-primary: #18181a;
    --bg-secondary: #2A2A2A;
    --bg-tertiary: #474B4F;
    --transition-speed: 100ms;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
    background: var(--bg-primary);
    /* background-image: radial-gradient(var(--bg-tertiary) 1px, transparent 0); */
    background-size: 40px 40px;
    background-position: -19px -19px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--theme-secondary);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.custom-navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width var(--transition-speed) ease;
    overflow: none;
    z-index: 1000;
}

.custom-navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.custom-nav-item {
    width: 100%;
}

.custom-nav-line-break {
    width: 50%;
    border: 0.5px solid var(--text-primary);
}

.custom-nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.custom-nav-link:hover {
    background: var(--bg-tertiary);
    color: var(--text-primary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.custom-nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--text-primary);
}

.custom-nav-link:hover svg{
    animation: wiggle 0.4s;
    color: var(--theme-primary);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-primary);
    background: var(--bg-primary);
    font-size: 2rem;
    letter-spacing: 0.2ch;
    width: 100%;
}

.logo-div {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.logo-div:hover {
    size: 0.3rem;
    color: var(--theme-primary);
}

.logo svg {
    margin: 0 1.5rem;
    width: 3rem;
    min-width: 3rem;
    color: var(--theme-primary);
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    margin-left: 1rem;
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.custom-navbar:hover .logo svg {
    transform: rotate(-180deg);
}

#home-selected, #browse-selected, #library-selected, #community-selected {
    height: 100%;
    width: 0.2rem;
    min-width: 0.2rem;
    margin-left: -0.2rem;
    background: var(--theme-primary);
}

#home-selected, #browse-selected, #library-selected, #community-selected {
    visibility: hidden;
}

.custom-navbar:hover #home-selected {
    margin-left: auto;
}

.custom-navbar:hover #browse-selected {
    margin-left: auto;
}

.custom-navbar:hover #library-selected {
    margin-left: auto;
}

.custom-navbar:hover #community-selected {
    margin-left: auto;
}

#search-btn-div {
    margin-top: 1.5rem;
}

#search-btn-div {
    margin-top: 1.5rem;
}

#user-icon {
    border-radius: 50%;
    border-color: var(--text-primary);
    border-style: solid;
    border-width: 0.15rem;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    background-color: var(--bg-secondary);
    margin-right: 3rem;
    margin-top: 1rem;
}

#user-icon img{
    height: 100%;
    width: 100%;
    color:var(--theme-primary);
}

#language-icon {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    background-color: var(--bg-secondary);
    margin-top: 1rem;
}

#language-icon svg{
    height: 100%;
    width: 100%;
    color:var(--theme-primary);
}

.dropdown-menu, .dropdown-item {
    font-size: 14px;
    color:var(--theme-primary);
    background-color: var(--bg-secondary);
}

.top-store-links{
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.top-store-links a {
    color: var(--bg-tertiary);
    text-decoration: none;
}

.top-store-links a:last-child {
    color: var(--bg-tertiary);
    text-decoration: none;
    margin-left: 1rem;
}

.fa {
    color: var(--theme-primary);
    padding-right: 0.6rem;
}

.store-footer {
    display: flex;
    flex-direction: column;
    height: 12rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    justify-content: center;
    padding: auto;
}

/* Small screens */
@media only screen and (max-width: 700px) {
    .custom-navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        margin-top: 5rem;
    }

    .custom-navbar-nav li:nth-child(7), .custom-navbar-nav li:nth-child(8), .custom-navbar-nav li:nth-child(9), 
    .custom-navbar-nav li:nth-child(10), .custom-nav-line-break, .carousel-side-bar{
        display: none;
    }

    .custom-navbar-nav #home-selected {
        display: none;
    }

    .logo {
        display: none;
    }

    .custom-navbar-nav {
        flex-direction: row;
    }

    .custom-nav-link {
        height: 5rem;
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 700px) {
    .custom-navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .custom-navbar:hover {
        width: 16rem;
    }

    .custom-navbar:hover .link-text {
        display: inline;
    }

    .custom-navbar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .custom-navbar:hover .logo-text
    {
        left: 0px;
    }
}

@keyframes wiggle{
    25%{
	transform: scale(0.8,1.3);
    }
    50%{
	transform: scale(1.1,0.8);
    }
    75%{
	transform: scale(0.7,1.2);
    }
}