/*
* Author: Ozair Ashfaq
* Date: 13/12/2020
* index.css
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-store-links a:first-child {
    color: var(--theme-primary);
}

#nav-home-page {
    background: var(--bg-tertiary);
}

#home-selected {
    visibility: visible;
}

.store-carousel{
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: row;
}

.carousel {
    max-width: 80%;
}

.carousel-inner img{
    height: 37.1rem;
}

.carousel-control-prev {
    margin-top: auto;
    margin-bottom: auto;
    height: 40%;
}

.carousel-control-next {
    margin-top: auto;
    margin-bottom: auto;
    height: 40%;
}

.carousel-side-bar {
    width: 20%;
    background-color: var(--bg-secondary);
}

.carousel-side-bar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.carousel-side-bar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.carousel-side-bar-item:hover {
    background-color: var(--bg-tertiary);
}

.carousel-side-bar-item img{
    height: 85px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.carousel-side-bar-item p span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: var(--text-primary);
}

.carousel-side-bar-break {
    margin: 0;
    padding: 0;
    width: 50%;
    border: 0.5px solid var(--text-primary);
}

.carousel-side-bar-last-item img{
    margin-top: 1rem;
}

.carousel-caption {
    text-align: left;
    bottom: 2rem;
    left: 4.5rem;
    top: auto;
    right: auto;
    background-color: #18181a2c;
    box-shadow: 0 0 5px 10px #18181a2c;
}

.carousel-caption p {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1rem;
}

.carousel-caption img {
    max-width: 20rem;
    max-height: 6.25rem;
    margin-bottom: 3rem;
}

.btn-buy-now, .btn-play-free-now {
    font-weight: 600;
    background-color: var(--theme-primary);
    width: 10rem;
}

.btn-wish-list {
    background-color: var(--theme-primary);
    width: 3rem;
}

.btn-wish-list svg {
    width: 1rem;
    height: 1rem;
}

.now-on-sale {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.section-title {
    color: var(--theme-primary);
    font-size: 20px;
    font-weight: 600;
}

.now-on-sale .now-on-sale-break {
    align-self:center;
    margin-bottom: 1.5rem;
    padding: 0;
    width: 100%;
    border: 0.5px solid var(--theme-primary);
}

.now-on-sale-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.now-on-sale-cards .card{
    width: 15.5rem;
    height: 427px;
    background-color: var(--bg-secondary);
    transition: all var(--transition-speed) ease;
}

.now-on-sale-cards .card a{
    color: var(--text-primary);
    text-decoration: none;
}

.now-on-sale-cards .card img{
    height: 20rem;
    color: var(--text-primary);
    text-decoration: none;
}

.now-on-sale-cards .card a .card-body{
    text-align: center;
    padding-bottom: 0.5rem;
}

.now-on-sale-cards .card a .card-body .card-title{
    font-size: 16px;
}

.now-on-sale-cards .card a .card-body .card-details{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.now-on-sale-cards .card a .card-body .sale-percent{
    font-size: 15px;
    margin-left: auto;
    width: 2.5rem;
    height: 1.5rem;
    background-color: var(--theme-secondary);
    border-radius: 20%;
}

.now-on-sale-cards .card a .card-body .card-details .card-cost{
    font-size: 16px;
    margin-left: 0.2rem;
    padding-right: 0.6rem;
    text-decoration: line-through;
    text-align: center;
}

.card:hover{
    transform: scale(1.02) translateY(-0.5rem);
}

.community-recommended {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.community-recommended a {
    text-decoration: none;
    color: var(--text-primary);
}

.community-recommended-group {
    display: flex;
    flex-direction: row;
    height: 28rem;
}

.community-recommended-group .game-ad-large {
    width: 100%;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.game-ad {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    transition: all var(--transition-speed) ease;
}

.game-ad:hover{
    transform: scale(1.02) translateY(-0.5rem);
}

.game-ad .game-ad-img img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.game-ad-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.game-ad-body .game-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.community-recommended-group .game-ad-small {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transform: translateY(-1.1rem);
}

.community-recommended-group .game-ad-small .game-ad {
    height: 100%;
}

.community-recommended-group .game-ad-small .game-ad .game-ad-img img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.community-recommended .carousel{
    max-width: 100%;
}

.community-recommended .carousel .carousel-indicators {
    transform: translateY(3.5rem);
}

.community-recommended .carousel .carousel-control-prev {
    transform: translateX(-8rem);
    width: 10%;
    height: 100%;
}

.community-recommended .carousel .carousel-control-next {
    transform: translateX(8rem);
    width: 10%;
    height: 100%;
}

.games-streaming-now {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.section-news {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.games-streaming-now-videos {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.games-streaming-now-videos iframe {
    width: 35rem;
    height: 19.6rem;
    padding: 1rem;
}

.games-streaming-view-more {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
}

.section-news .card {
    margin-bottom: 2rem;
    border: none;
    background-color: var(--bg-secondary);
    transition: all var(--transition-speed) ease;
}

.section-news .card:hover{
    transform: scale(1.02) translateY(-0.5rem);
}

.section-news img {
    width: 100%;
    height: 10rem;
}

.section-news p {
    font-size: 12px;
}

.section-news .article-source {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}